<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
 <link rel="stylesheet" href="/static/css/style.css">
<div> 
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/product">Product</a></li>
  <li><a href="/cart">Cart</a></li>
</ul>
	</div>

</head>
<body>
<h1> shop's name </h1>
<h4> Description!</h4> 
<div class="img1">
            <img src="https://cdn.vox-cdn.com/thumbor/Eu5ze2W1RmZQjxX2GqhIxWgvm4g=/0x0:2000x1284/1200x0/filters:focal(0x0:2000x1284):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/8834801/pizza_shoe12.jpg">
        </div>


</body>

</html>